.list {
    user-select: none;
    cursor: pointer;
    height: 300px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.item {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.itemSelected {
    background-color: rgba(1, 1, 1, .1);
}