.name {
    /*border: 1px solid black;*/
    text-align: center;
    margin-bottom: 20px;
}

.name span{
    /*border: 1px solid black;*/
    font-size: 12pt;
    font-weight: 400;
}

.nameEditButton {
    margin-left: 5px;
    transform: translateY(-2px);
}

.infoContainer {
    /*border: 1px solid black;*/
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.info {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}