.charListItemRoot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.charListItemLeftPanel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.charListItemLeftPanel span {
    width: 33%;
}

.charListItemRightPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


/*.charListItemSelected{*/
/*    composes: charListItemLeftPanel;*/
/*    background-color: #0f9960;*/
/*    color: white;*/
/*}*/