.root {

}

.noteList {
    position: relative;
}

.counterList {
    composes: noteList;
}

.noteCardRoot {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-top: 1px solid lightgrey;
    cursor: pointer;
}

.counterCardRoot {
    composes: noteCardRoot;
}

.counterCardBody {
    flex-grow: 1;
}

.noteCardName {
    flex-grow: 1;
    font-size: 12pt;
    font-weight: 400;
}

.noteCardBtn {
    flex-grow: 0;
    margin-left: 10px;
}

.counterCardBtn {
    composes: noteCardBtn;
}