.root {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rootMinimal {
    display: flex;
    flex-direction: column;
}

.itemRoot {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemRootMinimal {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}