.counterContainer {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counterControl {
    composes: noselect from '../Common.module.css';
    cursor: pointer;
}

.counterValue {
    text-align: center;
    font-weight: 600;
    width: 60%;
    color: #4c5c6b;
}

.numInput {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    height: 47px;
}