.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.focusable {
    composes: noSelect;
}

.focusable:hover {
    background: rgba(45, 45, 89, 0.12);
    cursor: pointer;
}

.rounded {
    border-radius: 3px;
}

.root {
    composes: rounded;
    border: 1px solid lightgrey;
    padding: 5px 10px;
    -webkit-box-shadow: 2px 2px 4px -3px rgb(122 122 122);
    -moz-box-shadow: 2px 2px 4px -3px rgb(122 122 122);
    box-shadow: 2px 2px 4px -3px rgb(122 122 122);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthSwitchControlMargin {
    width: 10px;
}

.monthSwitchControl {
    composes: focusable;
    composes: rounded;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    flex-grow: 1;
}

.monthSwitchControl:first-child {
    margin-right: 10px;
    padding-right: 2px;
}
.monthSwitchControl:last-child {
    margin-left: 10px;
    padding-left: 2px;
}

.selectors {
    flex-grow: 1;
    display: flex;
    column-gap: 5px;
}

.monthSelector {
    width: 50%;
}

.yearSelector {
    width: 50%;
}

.yearSelectorInput div:last-child {
    margin-right: 0 !important;
}

.yearSelectorInput div a:first-child {
    border-top-left-radius: 3px !important;
}

.yearSelectorInput div a:last-child {
    border-bottom-left-radius: 3px !important;
}

.yearSelectorInput div input{
    text-align: center;
    box-shadow: none;
}

.headerBodyDivider {
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body {

}

.bodyHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    width: 14.28%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #137cbd;
    color: white;
}

.selected:hover {
    background-color: #137cbd;
}

.bodyHeaderElement {
    composes: element;
    font-weight: 600;
}

.bodyRow {
    composes: bodyHeader;
}

.bodyRowElement {
    composes: element;
    composes: focusable;
    composes: rounded;
    margin: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
}

.timeInput {
    composes: rounded;
    display: flex;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    padding: 2px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
    box-shadow: inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
}

.timeInputDivider {
    padding-left: 2px;
    padding-right: 2px;
}

.timeInputField input {
    text-align: center;
    box-shadow: none;
    width: 32px !important;
}

.ageInput {
    flex-grow: 1;
}

.ageInputSelect {
    text-align: center;
}

.fix {
    margin: 10px;
}