.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    border-top: 1px solid lightgray;
}

.item:first-child {
    border-top: none;
}

.controls {

}

.list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

