.root:first-child {
    padding-top: 0;
}

.root {
    display: flex;
    flex-flow: column;
    padding-top: 25px;
}

.header {
    font-weight: bolder;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.editIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.body {
    display: flex;
}

.block:first-child {border: 0;}
.block {
    margin-top: 5px;
    padding: 15px 0;
    /*border-left: 1px solid lightgray;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
}

.value {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconText {

}

.attack {
    composes: block;
    flex-grow: 1;
}

.baseDamage {
    composes: block;
    flex-grow: 1;
}

.bonusDamage {
    composes: block;
    flex-grow: 1;
}