.header {
    /*border: 1px solid black;*/
    border-bottom: 1px solid lightgray;
    display: flex;
    width: 100%;
    padding-bottom: 15px;
}

.iconUnderline {
    position: absolute;
    bottom: -17px;
    width: 40px;
    background-color: #106ba3;
    border: 2px solid #106ba3;
}

.headerIconContainer {
    /*border: 1px solid black;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    position: relative;
    /*height: 64px;*/
}

.headerTextContainer {
    /*border: 1px solid black;*/
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: left;
    padding-left: 20px;
    width: 70%;
}

.headerTextTop {
    width: 100%;
}

.headerTextBot {
    width: 70%;
    padding-top: 5px;
}

.headerLvlContainer {
    composes: noselect from '../Common.module.css';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    margin-left: 5%;
    /*background-color: #15B371;*/
    border-radius: 50%;
    height: 40px;
    transform: rotate(90deg)
    /*color: white;*/
}

.table {
    width: 100%;
}

.body {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

.footer {
    padding-top: 15px;
    text-align: center;
}

.footer button {
    width: 80%;
}


.root:first-child {
    /*padding-top: 0px;*/
}

.root {
    /*padding-top: 60px;*/
}