.itemRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.itemPreparedContainer {

}

.fixPrepared {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.itemNameContainer {
    flex-grow: 1;
}

.itemTagsContainer {
    display: flex;
    gap: 5px;
}

.itemControlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}