div.giClsSelectPopFix div.bp3-popover-content {
    padding: 5px 5px 5px 5px;
}
div.giClsSelectPopFix div.bp3-popover-content ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}
div.giClsSelectPopFix div.bp3-popover-content ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(153, 152, 152, 0.3);
    border-radius: 10px;
    background-color: #ffffff;
}

div.giClsSelectPopFix div.bp3-popover-content ul.bp3-menu{
    max-height: 200px;
    overflow-y: scroll;
}