.stack {
    height: 100%
}

.giRoot {
    margin: 20px;
}

.fiRoot {
   composes: giRoot;
}

.giClsSelItem {
    cursor: pointer;
    margin: 10px;
}

.fiSkillSelItem {
    composes: giClsSelItem;
    margin: 5px 0 0;
    padding: 5px;
    border-radius: 5px;
}
.fiSkillSelItemCls {
    composes: fiSkillSelItem;
    background: #0f9960;
    color: white;
}
.fiSkillSelItemBg {
    composes: fiSkillSelItem;
    background: #137cbd;
    color: white;
}
.fiSkillSelItemBoth {
    composes: fiSkillSelItem;
    background: #d9822b;
    color: white;
}

.giClsSelItemPop {
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

.traitsRoot {
    max-height: 300px;
    overflow-y: scroll;
}

.traitsCard {

}

.traitsCard h3 {
    color: #137cbd;
}