.root {
    margin: 10px;
}

.divWrap {
    height: calc(100vh - 80px);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catRoot {

}

.catName {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    font-size: 14pt;
    font-weight: 500;
    color: #810101;
}

.catBody {
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.itemRoot {

}