.infoRoot {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    display: flex;
    gap: 20px;
}

.infoTree {
    width: 50%;
    padding: 10px;
}

.infoProblems {
    width: 50%;
}

.infoProblemsControls {
    width: calc(100% - 1px);
}

.infoProblemsListContainer {
    overflow-y: scroll;
    max-height: 370px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    min-height: 200px;
    padding: 10px;
}

.infoProblemsList {
    overflow-y: scroll;
}

.problem:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.problem {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.problem span {
    width: 100%;
}

.problemIcon {
    width: 24px;
}