.catPanelsContainer {
    position: relative;
    height: calc(100vh - 60px);
    top: -20px;
}

.icon {
    /*border: 1px solid black;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon div{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon span{
    padding-top: 5px;
    width: 100%;
    font-size: 8pt;
    line-height: 10px;
    text-align: center;
}

.itemList {

}

.verticalTabs {
    height: 100%;
}

.horizontalTabs {
    max-height: calc(100vh - 60px);
}

.item:hover {
    background: rgba(0,0,0,0.04);
}

.item {
    display: flex;
    cursor: pointer;
    /*border: 1px solid black;*/
    /*padding: 10px 10px;*/
    word-wrap: break-word;
    border-bottom: 1px solid lightgray;
}

.itemName {
    /*border: 1px solid black;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    padding: 10px 0 10px 10px;
}

.itemIcon {
    display: flex;
    /*border: 1px solid black;*/
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 8px;
    justify-content: center;
}

.itemCount {
    display: flex;
    /*border: 1px solid black;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-right: 1px solid lightgray;
    align-items: center;
    min-width: 40px;
    justify-content: center;
}

.itemAction {
    color: #92a8d5;
    min-width: 40px;
    display: flex;
    /*border: 1px solid black;*/
    /*border-left: 1px solid lightgray;*/
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.fabContainer {
    position: absolute !important;
    bottom: 5px !important;
    right: 25px !important;
}

.fabContainerFixed {
    position: fixed !important;
    bottom: 25px !important;
    right: 25px !important;
}

.root {
    transform: translateY(-20px);
    height: calc(100vh - 80px);
}