.items-overview-container {
    transform: translateY(20px);
    /*height: 100%;*/
}

.items-overview-container .bp3-tab-list {
    border-right: 1px solid #e9e9e9;
}

.items-overview-container .bp3-tab-indicator {
    background: rgba(0,0,0,0.05) !important;
    transform: scaleY(1.3);
}

.items-overview-container .bp3-tab-panel {
    width: calc(100% - 75px) !important;
    padding-left: 0 !important;
    max-height: 100%;
}

.items-overview-container .bp3-tab-indicator {
    border-radius: 0 !important;
    min-height: 50px;
    /*border-right: 3px solid lightgray;*/
}

.items-overview-container .bp3-tab-list {
    max-width: 70px;
}

.items-overview-container .bp3-tab:focus {
    outline: none !important;
}

.items-overview-container .bp3-tab {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------*/

.items-overview-types-container {
    max-height: 100%;
}

.items-overview-types-container .bp3-tab-list {
    border-right: none;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}

.items-overview-types-container .bp3-tab {
    flex-grow: 1;
    min-width: 70px;
    /*border: 1px solid black;*/
    margin: 0;
}

.items-overview-types-container .bp3-tab {
    margin-left: 10px;
    padding-top: 10px !important;
    padding-bottom: 10px;
}

.items-overview-types-container .bp3-tab:last-child {
    margin-right: 10px !important;
}

.items-overview-types-container .bp3-tab-indicator {
    border-radius: 0 !important;
    border-bottom: 3px solid lightgray;
    border-right: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    transform: scaleY(1);
}

.items-overview-types-container .bp3-tab-indicator-wrapper {
    min-height: 48px;
}

.items-overview-types-container .bp3-tab-panel {
    margin-top: 0;
    width: 100% !important;
    max-height: calc(100vh - 110px);
    word-wrap: break-word;
    overflow-y: scroll;
}

.items-overview-types-container .bp3-tab-indicator {
    background: transparent !important;
}
