.fix {
    height: calc(100vh - 80px);
}

.root {
    position: relative;
}

.topFiller {
    height: 60px;
}

.search {
    z-index: 4;
    padding: 15px;
    background: white;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    border-bottom: 1px solid lightgrey;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cardRoot {
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardName {
    flex-grow: 1;
    font-weight: 400;
    font-size: 14pt;
    padding-bottom: 5px;
    color: darkred;
}

.cardTag {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-5px);
}

.cardBody {
    position: relative;
    padding-top: 5px;
    height: 154px;
    /*height: 3.6em; !* exactly three lines *!*/
    overflow-y: hidden;
}

.cardHolster {
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 78%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
}

.footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerBtn {
    width: 80%;
}