.charManagerPlaceholder {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charManagerListItem:first-child {
    border-top: none;
}
.charManagerListItem:hover {
    background-color: #eaeaea;
}
.charManagerListItem {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    cursor: pointer;
}

.charManagerTable {
    width: 100%;
    text-align: center;
}