.eventLogRoot {

}

.eventLogScreen {
    overflow: scroll;
    box-shadow: inset 0 0 5px lightgrey;
    height: 220px;
}

.eventLogScreenItemCharAction {
    cursor: pointer;
}

.eventLogScreenItemCharAction:nth-child(even) {
    background: #ecebeb;
}