.root {
    position: relative;
}

.roundedTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.roundedBot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sunrise {
    position: absolute;
    left: 20px;
}

.moon {
    position: absolute;
    right: 20px;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    composes: roundedTop;
    height: 60px;
    background: rgb(89,91,164);
    background: linear-gradient(90deg,
            rgba(89,91,164,1) 0%,
            rgba(187,202,229,1) 21%,
            rgba(251,244,211,1) 35%,
            rgba(255,254,227,1) 50%,
            rgba(255,235,192,1) 64%,
            rgba(255,170,96,1) 80%,
            rgba(36,36,84,1)
        100%);
}

.scale {
    composes: roundedBot;
    position: relative;
    display: flex;
    border: 1px solid lightgrey;
}

.scaleHour:last-child {
    border-right: none;
}
.scaleHour {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgrey;
}

.scaleSlider {
    composes: roundedTop roundedBot;
    background: none;
    border: 2px solid #ff8913;
    position: absolute;
    height: 80px;
    visibility: hidden;
    top: -60px;
}