.sidedContainer {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.newRes {
    flex-grow: 1;
    width: 50%;
}

.newRes > div {
    height: 100%;
}

.persistedRes {
    flex-grow: 1;
    width: 50%;
}

.persistedRes > div {
    height: 100%;
}

.mergedContainer {

}

.mergedContainer > div {
    height: 100%;
}

.portal {
    width: 80vw;
}