.listRoot {

}

.list {
    height: 300px;
    overflow-y: scroll;
}

.listItem {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.listItemSelected {
    composes: listItem;
    background: #ececec;
}