.root {
    text-align: left;
}

.group:first-child {
    margin-top: 0;
}
.group {
    text-align: left;
    margin-top: 10px;
}

.collapse {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.btnSpacer {
    margin-top: 10px;
}