.slotCardTagsContainer {
    display: flex;
    gap: 10px;
    text-align: center;
}

.cardLevel {
    width: 40%;
}

.cardAction {
    width: 12%;
}

.cardSpacer {
    height: 10px;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.test {
    height: 300px;
    max-height: 300px;
}