.root {
    position: relative;
    transform: translateY(-20px);
    height: calc(100% - 60px);
    display: flex;
}

.menu {
    /*border: 1px solid black;*/
    padding-top: 15px;
    min-width: 70px;
    /*background: #e30000;*/
    border-right: 1px solid lightgrey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 20px;*/
}

.menuItem:hover {
    background: #F5F5F5;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 60px;
}

.pane {
    flex-grow: 1;
    /*border: 1px solid black;*/
}

.name {
    text-align: center;
    font-weight: 400;
}

.section {
    composes: name;
}

.fit {
    max-width: fit-content !important;
    display: inline-block;
}

.fit2 {
    width: 60px;
    display: inline-block;
    text-align: center;
}

.leftSplit {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.leftSplit2 {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
    padding-left: 30px;
    max-width: 50%;
}

.rightSplit {
    padding-left: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
    text-align: center;
    flex-grow: 1;
}

.rightSplit2 {
    padding-left: 5px;
    flex-grow: 1;
    padding-right: 30px;
    text-align: left;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split {
    display: flex;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lbl {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}