.fixer {
    /*max-width: 480px;*/
    /*width: 480px;*/
    /*height: calc(100vh - 80px);*/
    position: relative;
    flex-grow: 1;
}

.outer {
    display: flex;
    justify-content: center;
}

@media (max-width:500px) {
    .fixer {
        /*max-width: 100%;*/
        width: 100%;
    }
}