.infoSectionContainer {
    display: flex;
    align-items: center;
}
.hpSection {
    width: 50%;
    display: inline-block;
    cursor: pointer;
}
.commonStatSection {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

.invList {
    display: flex;
    overflow-y: scroll;
    max-width: calc(80vw);
    gap: 5px;
    justify-content: flex-start;
}

.invList2 {
    display: flex;
    overflow-y: scroll;
    gap: 5px;
    justify-content: flex-start;
}

.inv span{
    padding-bottom: 3px;
}

.inv {
    padding-top: 5px;
    min-width: 50px;
    cursor: pointer;
}

.invSelected {
    background-color: rgba(1, 1, 1, .1);
}

.infoSection {}
.commStatSectionLabel {
    composes: noselect from './Common.module.css';
}
.commStatSectionContainer {margin-bottom: 10px;}

.statCard:last-child {border-bottom: 0;}

.statCard:first-child {
    padding-top: 0;
}

.statCard {
    border-bottom: 1px solid lightgray;
    padding-top: 30px;
}
.statContainer{
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.statSeparator{
    position: absolute;
    width: calc(100% - 5px);
    bottom: -2px;
    left: 0;
    border-radius: 4px;
    border: 1.5px solid #106ba3;
}
.statName {
    position: relative;
    font-size: 14pt;
    font-weight: bolder;
    padding: 5px 10px 5px 5px;
}
.statMod {
    font-size: 14px;
}
.skillContainer {
    display: flex;
    /*align-items: center;*/
}
.skillBox {
    display: flex;
    align-items: center;
    justify-content: left;
}
.skillCheckBox {
    transform: translateY(1px);
    display: flex;
    margin: 8px 2px;
    padding: 2px;
    color: dimgrey;
}
.skillMod {
    transform: translateX(-10px);
    border-bottom: 1px solid black;
    font-size: small;
    width: 25px;
}
.skillName{
    transform: translateX(-10px);
    padding-left: 5px;
}
.skillList {
    /*border: 1px solid black;*/
    display: inline-flex;
    flex-flow: column;
    flex-grow: 1;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid lightgray;
    margin-left: 10px;
    justify-content: center;
}
.skillValue {
    /*border: 1px solid black;*/
    composes: noselect from './Common.module.css';
    display: inline-flex;
    font-size: 32pt;
    align-items: center;
    width: 54px;
    justify-content: center;
    cursor: pointer;
}

.dieRow {
    composes: noselect from './Common.module.css';
    cursor: pointer;
}

.skillListDivider {
    border: 2px solid lightgray;
}

.hpDialog {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.hpDialogContainer {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.hpDialogReal {
    display: flex;
    flex-flow: column;
    justify-content: left;
}

.popover {
    color: red;
}

.coinPlatinum {
    color: #81a0c1;
}

.coinGold {
    color: goldenrod;
}

.coinSilver {
    color: silver;
}

.coinCopper {
    color: #d6754a;
}

.walletContainer {
    cursor: pointer;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.coin:first-child {
    /*border-left: 1px solid lightgray;*/
}

.coin {
    /*border-right: 1px solid lightgray;*/
    width: 25%;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.coinLabel {
    padding-bottom: 5px;
}

.coinValue {
    font-size: 14pt;
    padding-top: 10px;
    font-weight: 600;
}

.classTableSpan {
    width: 100%;
    text-align: center;
}

.flow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.drip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.charName {
    font-size: 14pt;
}

.charNameTag {
    position: relative;
    background-color: rgb(231, 235, 238) !important;
    top: 15px;
}