.root {
}

.headerIcon {
    composes: noselect from './Common.module.css';
    cursor: pointer;
    padding: 15px;
    position: absolute;
}

.headerContainer {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.34);
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.34);
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.header {
    flex-grow: 1;
    text-align: center;
    font-size: 20pt;
    font-weight: 900;
    color: rgba(101, 0, 0, 0.71);
    padding: 15px 0;
}

.element:hover {
    background-color: rgba(211, 211, 211, 0.28);
}

.element {
    composes: noselect from './Common.module.css';
    cursor: pointer;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    /*border-bottom: 1px solid lightgray;*/
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.elementIcon {
    margin-right: 15px;
}

.elementText {
    font-size: 12pt;
    white-space: nowrap;
}

.divider {
    border: 1px solid lightgray;
    margin: 10px;
}