.fixItemOverview span.bp3-popover-target {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.fixItemOverview .bp3-text-overflow-ellipsis.bp3-fill {
    display: flex;
    align-items: center;
    width: 100%;
}

.bp3-tab-list {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    /*width: 100%;*/
    /*justify-content: center;*/
    overflow-x: scroll;
}