.container {
    display: flex;
    text-align: center;
    position: relative;
    flex-grow : 1;
    align-items: center;
    justify-content: center;
}

.root {
    display: flex;
    flex-flow: column;
    height: calc(100% - 80px);
}