.root {
    box-shadow: 0 5px 20px -10px #000;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 10;
    top: 0
}

.filler {
    height: 80px;
}

.header {
    color: gray;
    flex-grow: 1;
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    padding: 15px 0;
}

.drawerToggleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}