.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardHeader {
    text-align: center;
    font-size: 16pt;
}

.cardBody {
    width: 100%;
    flex-grow: 1;
    display: flex;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.cardBodyIcon {

}

.cardBodyText {
    font-size: 12pt;
    flex-grow: 1;
}

.cardDivider {
    width: 95%;
    flex-grow: 1;
    border-bottom: 1px solid lightgrey;
}