.contentRoot {
    /*border: 1px solid black;*/
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.moreBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.listItemRoot:first-child {
    border-top: 1px solid lightgrey;
}
.listItemRoot {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}