.root {

}

.listItemRoot {
    composes: listItemRoot from 'AdminAccountsView.module.css';
}

.listItemLeftPanel {
    composes: listItemLeftPanel from 'AdminAccountsView.module.css';
}

.listItemLeftPanelAccount {
    composes: listItemRoot from 'AdminAccountsView.module.css';
}

.listItemLeftPanel span {
    width: 50%;
}

.managedSpan {
    width: 33%;
}

.listItemRightPanel {
    composes: listItemRightPanel from 'AdminAccountsView.module.css';
}

.editDialogContainer {
    composes: editDialogContainer from 'AdminAccountsView.module.css';
}

.editDialogTabs {
    composes: editDialogTabs from 'AdminAccountsView.module.css';
}

.editDialogAccountsTabAddAccountListItem:first-child { border-top: none; }
.editDialogAccountsTabAddAccountListItem:hover { background-color: #eaeaea; }
.editDialogAccountsTabAddAccountListItem {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    cursor: pointer;
}

.editDialogAccountsTabAddAccountPopup {
    width: 400px;
}