.actionCard {
}

.cardHeader {
    position: relative;
}

.cardIcon {
    position: absolute;
    right: 20px;
}

.cardBody {
    height: 150px;
    overflow-y: scroll;
}

.onlineCardContainer {
    display: flex;
    column-gap: 10px;
}

.onlineCardUnderline {
    text-align: center;
}

.onlineCardValContainer {
    flex-grow: 1;
    text-align: center;
}