.admin-accounts-edit-dialog-tabs .bp3-tab-panel {
    width: 100%;
    height: 100%;
    padding-left: 0 !important;
    margin-left: 20px;
    border-left: 1px solid #e5e5e5;
    overflow-y: scroll;
}

.admin-accounts-edit-dialog-tabs .bp3-tab-list {
    gap: 15px;
    height: 100%;
    overflow-y: scroll;
}

.admin-accounts-edit-dialog-root .bp3-tabs {
    height: 100%
}