.listItemRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.listItemLeftPanel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemLeftPanel span {
    width: 33%;
}

.listItemRightPanel {

}

.editDialogContainer {
    padding-top: 18px;
    height: 100%;
}

.editDialogTabs {
    height: calc(100% - 80px);
}