.root {
    margin-left: 15px;
}

.id {
    background: rgba(1,1,1,0.08);
    padding: 10px;
    border-radius: 5px;
}

.generalRoot {

}

.armorRoot {

}

.magicRoot {

}

.weaponRoot {
}

.collapserBtn {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.collapser {
    margin-left: 12px;
}

.hor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.magic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.generalTop {
    composes: hor;
}

.generalBot {
    composes: hor;
}

.weapon {
    composes: hor;
}