.root {
    position: relative;
    height: calc(100vh - 60px);
    transform: translateY(-20px);
    padding: 15px;
    display: flex;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 10px;
    min-width: 400px;
    max-width: 400px;
    border-right: 1px solid lightgray;
}

.rightPanel {
    position: relative;
    flex-grow: 1;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}

.list {
    flex-grow: 1;
    margin-top: 20px;
    overflow-y: scroll;
    margin-bottom: 20px;
}


.listItem:first-child { border-top: 1px solid lightgray; }
.listItem:hover { background: rgba(1,1,1,.05) }
.listItem {
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    font-size: 12pt;
    padding: 10px;
}

.placeHolder {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
    color: lightgray;
}